{% extends '_base.html'%}

{%block title%}
    Posts
{%endblock%}
<div class="card card-body mt-3">
{%block content%}
   {% for post in posts %}
   <div class="card mt-3 p-3">
      <div class="card-body">
          <h3>{{ post.title }}</h3>
          <p> {{ post.date_created }}</p>
            <div class="row justify-content-end">
               <a class="btn btn-info mx-1" href="{% url 'post_detail' post.id %}">Detail</a>
               <a class="btn btn-info mx-1" href="{% url 'update_post' post.id %}">Update</a>
            </div>
      </div>
   </div>
   {% endfor %}
{%endblock%}
</div>